impacket
pycryptodome
cffi
requests
odict
paramiko
psutil
PyInstaller
ecdsa
netifaces
ipaddress
wmi
pywin32 ; sys_platform == 'win32'
pymssql<3.0
pyftpdlib
werkzeug>=3.0.6 # not directly required, pinned by Snyk to avoid a vulnerability
